//
   Created by Álvaro on 26/9/2015.
.ed-container.full
  .ed-item.no-padding
    .banner.oscurecer
      img(src="img/girl1.jpg").banner__img
      .banner__copy
        h2.banner__title Easy use
        h3.banner__subtitle Responsive Theme
        a(href="#").banner__button See our portfolio