//
   Created by Álvaro on 26/9/2015.
.icon-menu.toggle-menu.hasta-web
ul.ed-menu.web-horizontal
  each item in ['home','our services','portfolio','pricing','about','blog','contact']
    li: a(href="#") #{item}
