//
   Created by Álvaro on 3/10/2015.
.ed-container
  .ed-item
    .section__title Portfolio
    .section__subtitle Premium Portfolio Slider
  .ed-item
    nav.links
      a(href="#") Home
      a(href="#") Services
      a(href="#") Portfolio
      a(href="#") Pricing
      a(href="#") About
      a(href="#") Blog
      a(href="#") Contact
  .ed-item
    .gallery
      -for(var i=0; i<6; i++)
        .gallery-item
          img(src="img/girl1.jpg")
