//
   Created by Álvaro on 3/10/2015.
.ed-container
  .ed-item
    .section__title Our Price
    .section__subtitle Satisfaction guaranteed or your money back

  -for(var i=0; i<3; i++)
    .ed-item.tablet-1-3
      ul.pricing-list
        li.pricing-list__title Basic
        li.pricing-list__price $5.00/mo
        li.pricing-list__feature Free Setup
        li.pricing-list__feature Unlimited bandwidth
        li.pricing-list__feature 20% Transaction fee
        li.pricing-list__feature 1gb storage
        li.pricing-list__feature Unlimited concurrent domain
        li.pricing-list__buy.icon-derecha.espacio Buy Now
  .ed-item
