//
   Created by Álvaro on 26/9/2015.
.ed-container
  .ed-item
    h2.section__title Services web provide
    p.section__subtitle A smart WordPress design team bla bla
  .ed-item.web-5.cross-center.no-padding
    .icon-izquierda
  .ed-item.web-30
    .service
      h3.service__title
        | Fully Customizable
      img(src="img/nube.png").service__img
      p.service__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies.
  .ed-item.web-30
    .service
      h3.service__title
        | Professional design
      img(src="img/foco.png").service__img
      p.service__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies.
  .ed-item.web-30
    .service
      h3.service__title
        | HTML5 & CSS3
      img(src="img/movil.png").service__img
      p.service__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies.
  .ed-item.web-5.cross-center.no-padding
    .icon-derecha
