#header {
  background: url(../img/girl1.jpg) center center / 110% fixed;
  position: relative;
  height: 35em;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000,.2);
  }
}

